<h1>Editing Photo</h1>
<form method="post">
    <p>Title: <input name="title" value="{{photo.title}}"></p>
    <p>Description: <input name="description" value="{{photo.description}}"></p>
    <input type="submit" value="Submit">
</form>